.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar ul {
  margin: 10px 0;
  padding: 0;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
}
.navbar ul li a {
  text-decoration: none;
  display: block;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
  color: #565673;
  padding: 0 10px;
}

.search form {
  display: flex;
  padding: 10px 0;
}

.searchInput {
  border: 0;
  width: 0;
  transition: width 0.2s ease-in;
}
.searchInput.active {
  width: 150px;
  border-bottom: 1px solid #ccc;
}
.searchInput:focus {
  outline: none;
}
.searchIcon {
  cursor: pointer;
}
